[2013-09-25 18:32] philips opened #5 "Golang: syscall.WriteMsgUnix breaks large journal"
This is a tracking issue for the upstream Golang bug that keeps the large journal entry stuff from working right now. Large journal entries won't work until this is fixed upstream in Golang:

https://code.google.com/p/go/issues/detail?id=6476

[2013-10-03 13:35] philips opened #7 "dbus: Add PropertiesChanged watcher"
Instead of using a timer in SubscribeUnits react to PropertiesChanged event:

http://lists.freedesktop.org/archives/systemd-devel/2013-October/013546.html

[2013-11-13 22:45] bcwaldon opened #13 "Calls to dbus hang when using invalid characters"
Repro steps
1) Create a new instance of go-systemd's dbus.Conn
2) Call GetUnitInfo with a dbus path containing unsupported characters

Result:
The process will hang

Expected:
Return an error telling me I've asked to do the impossible

Here's a script to illustrate the problem:

[code]

Build this and run something like

[code]

vs.

[code]

This describes valid dbus paths: http://dbus.freedesktop

[2014-02-03 20:21] #13 closed, assigned to nobody

[2014-03-10 10:32] alexlarsson opened #31 "jobListener jobs leaked"
dbus.Conn.startJob() adds the job to the joblisteners map:
    c.jobListener.jobs[path] = ch
But while jobComplete reads this it doesn't actually remove it from the map.

[2014-03-18 18:17] philips opened #32 "Add GetUnitProperty interface"
This should be an extension of the existing `GetUnitProperties(unit string)` interface. Probably a prototype like `GetUnitProperty(unit string, propertyName string) systemd.Property`

https://github.com/coreos/go-systemd/blob/master/dbus/methods.go#L164

[2014-03-18 19:03] #31 closed, assigned to nobody

[2014-03-20 17:22] #32 closed, assigned to nobody

[2014-04-13 00:16] marineam opened #43 "Need a non-blocking API"
Perhaps I should have clued into this more when c2243739dbd395c5127ead0eb8296fb70dd217e7 went by but we need the ability to control jobs without waiting for them on all job control methods. This is required for coreos-cloudinit which should never call the blocking API since that can result in deadlocks.

[2014-07-31 20:09] bcwaldon opened #55 "Backslash always considered line continuation"
The value of the `ExecStart` in the following unit file ...

[code]

...is being parsed `/bin/bash -c "while true; do echo \"ping`. I expect it to be `/bin/bash -c "while true; do echo \"ping\"; sleep 1; done"`.

[2014-07-31 22:26] #55 closed, assigned to nobody

[2014-12-18 16:17] bcwaldon opened #69 "Fail unit option parsing if line longer than 2000 characters"
We originally discovered in fleet [0] that systemd silently truncates lines at 2000 characters. This has been confirmed upstream [1]. Unfortunately, I believe we need to add this check to our unit file parser so we can give a reasonable experience to users rather than making them chase down the same rabbit hole that I did.

[0] https://github.com/coreos/fleet/issues/992
[1] https://bugs.freedeskto

[2015-01-15 05:46] dlintw opened #70 "Any method for read journal"
It will be better if provide API for read journal like python
http://www.freedesktop.org/software/systemd/python-systemd/journal.html#accessing-the-journal

[2015-01-20 11:01] krnowak commented on #43
I was looking at this issue and came up with this:
https://github.com/endocode/go-systemd/commit/f9b36c1b025db97241f1d433a1552b48b445e4cd

This implements async API by using sync API inside goroutines and by using additional channel for return value. I think I must miss something here, because currently I don't see too much point in adding async API, since doing an async call is rather easy to do

[2015-01-20 18:24] jonboulle commented on #43
@marineam is there something more sophisticated you had in mind?

[2015-01-22 14:07] nikolay-turpitko opened #71 "Socket activation & unix domain socket"
In coreos/go-systemd/activation/listeners.go, line 34 method net.FileListener() is used to create net.Listener from file. For unix domain sockets it returns UnixListener, whose method Close() unlinks it, which leads to deletion of the file in the file system. Here is method Close() from unixsock_posix.go:

    // Close stops listening on the Unix address.  Already accepted
    // connections are n

[2015-01-23 12:35] nikolay-turpitko commented on #71
Sorry, for inconvenience. It seems as I don't understand issue quite well and cannot reproduce it in simplified test. As I understand now, I can leave listener opened in my service and runtime finalizer will close opened file descriptors.

[2015-01-26 16:01] nikolay-turpitko commented on #71
After some pondering I decided to reopen this issue. Sure, it's an issue of the standard library, not entirely yours, but I think you guys have more expertise to rise and express it to library developers.

The problem is that I need to be able to close unix domain socket, provided by systemd, without unlinking it from a file system. And using net.UnixListener API I cannot.

From http://www.freedes

[2015-02-05 14:52] mwhooker opened #73 "journal.init not exported"
forgive me if there's an obvious solution, but the journal code looks unusable since one can't initialize the socket connection from outside the library.

[2015-02-05 14:52] nikolay-turpitko commented on #71
I re-wrote test to better illustrate the issue, see https://github.com/nikolay-turpitko/go-systemd/commit/578612f6e0c4a1610641271f90169026e1887fd7

Notice constants in listen.go at line 43 and in listener_test.go at line 43. They allow to try different behavior - with one or several forks of child process, with or without method Close() invocation.

The issue is, that with unix domain sockets seco

[2015-02-05 14:55] mwhooker commented on #73
oops, sorry, it's late

[2015-02-05 14:55] #73 closed

[2015-02-05 17:17] nikolay-turpitko commented on #71
Here is my attempt to handle termination signal: https://github.com/nikolay-turpitko/go-systemd/commit/5bdb401973017d432adb9f5104eca62c580de769

We cannot just kill process or exit from program in signal handler, since in the real program we want to execute some additional cleanup and graceful-shutdown logic. We cannot close unix domain socket, but could we cause it to return EINTR, as described i

[2015-02-05 18:27] bcwaldon commented on #73
@mwhooker can you shed any more light on this? Just in case someone else finds this issue in the future...

[2015-02-05 21:36] mwhooker commented on #73
of course, I forgot that the `init()` function is run automatically when the module is imported

[2015-02-07 05:42] nikolay-turpitko commented on #71
I tried to prevent file deletion without code modification, but it didn't lead to desired result in my app (and I don't know how to provide simple test for this attempt). My idea was to put socket file into folder with restricted access, so that only systemd could manipulate files in that folder. Code in UnixListener.Close() doesn't check the result or error of syscall.Unlink(), so I assumed, that

[2015-02-09 08:02] nikolay-turpitko commented on #71
I started a discussion here: https://groups.google.com/forum/#!topic/golang-nuts/UtBR4IfgaEw

[2015-02-09 18:22] nikolay-turpitko commented on #71
I was advised to reorganize my code to leave sockets opened and goroutines unfinished, which I managed to do. Nevertheless, I have a strong filling that code would be more accurate and straightforward if it could be possible to call something like ```listener.(*net.UnixListener).SetUnlinkOnClose(false)``` so that it would be safe to call ```UnixListener.Close()``` and reuse existing code which wor

[2015-02-11 09:04] blixtra commented on #43
@krnowak Do you want to make a pull-request from the commit you pointed to?

[2015-02-12 15:58] krnowak commented on #43
@blixtra nah, I don't think so. This API is pointless IMHO. Unless I'm missing something.

[2015-02-26 07:01] ericsnowcurrently opened #76 "Add Conn.ListUnitFiles."
Unfortunately the `ListUnits` method does not fill my needs.  An enabled (but inactive) unit may not show up under some conditions.  I've run into this consistently.

The implementation should be virtually identical to `ListUnits`.  `ListUnitFiles` is a dbus method on the manager object (per the docs).

[2015-02-27 16:05] ericsnowcurrently opened #77 "Add dbus.ParseProperties and dbus.ParseOptions"
ParseProperties(props []Property, unitType string) ([]*unit.UnitOption, error)
ParseOptions(opts []*unit.UnitOption) ([]Property, string, error)

From what I can tell, all the unit options [1] map into dbus properties [2] (though the reverse is not true, of course).  I've done something like this for a limited sub-set, but it would be helpful for a number of reasons if this functionality existed u

[2015-02-27 16:19] ericsnowcurrently opened #78 "Add Conn.GetUnitOptions and/or Conn.Cat"
Sometimes it is helpful to look at an enabled unit file.  I'd rather not go look up the file in /etc/systemd, etc., which is kind of the point of using the Go bindings in the first place. :)  At the commandline I can just run "systemctl cat ...".  Having an equivalent method on dbus.Conn would really helpful.  I expect it would dovetail onto work for issue #77.

As a temporary workaround I am read

[2015-03-25 00:23] ChimeraCoder commented on #70
For what it's worth, I've been working on a client for this here: https://github.com/ChimeraCoder/journalctl-go

It's still a work in progress or I'd submit a pull request here, but I figured I'd post it in case you or others still need this in the meantime.

[2015-04-08 23:32] mischief opened #80 "gofmt the code"
see https://travis-ci.org/coreos/mayday/builds/57730602

[2015-04-09 00:09] crawford commented on #80
The Mayday build script shouldn't be checking the format of its dependencies. At the same time, this code should be formatted.

[2015-04-09 16:44] strikov-canonical opened #83 "daemon/sdnotify.go probably violates Apache license"
Hi go-systemd team!

Many thanks for all the work you do!

I'm packaging go-systemd for Ubuntu (as part of the juju project).
We do license checks for all the code we package as part of our packaging pipeline.
It seems to me that one file in your repo violates requirements of the Apache-2.0 license.
Could you please help me to understand if it's true or not and (if so) fix the issue in your repo?

[2015-04-10 19:12] mischief commented on #80
fixed by #81

[2015-04-10 19:12] #80 closed

[2015-05-23 04:37] #71 closed

[2015-05-26 16:53] kelseyhightower opened #88 "There should be a isSystemd helper function"
There should be a isSystemd helper function to help services determine if they are running under systemd. This will aid services in support more systemd features such as sdnotify, without breaking ignoring errors when not running on systemd systems.

[2015-05-27 16:56] #88 closed

[2015-06-01 22:08] booleancandy opened #90 "v3 tag for package?"
Hi everyone.  I was wondering if a tag could be made for a release of go-systemd?  I've been working on updating the Debian packaging for go-systemd and would like to package a release instead of merely a snapshot.

I was going to go out on a limb and say that since there haven't been many commits recently maybe a release tag is in order but there have been a few fixes and merges since I last upda

[2015-06-02 17:20] LK4D4 commented on #90
Yup, I want tag too :)

[2015-06-09 01:27] tianon commented on #90
+1

Any particular blockers for a new tag? :smile:

[2015-06-22 23:46] philips commented on #90
@tianon @LK4D4 tagged https://github.com/coreos/go-systemd/releases/tag/v3

[2015-06-22 23:46] #90 closed

[2015-06-24 02:18] howbazaar opened #93 "tests don't pass in the unit package"
It looks like someone refactored the serialization of the unit directives to group them, but then failed to update the tests.

[2015-06-24 02:19] howbazaar opened #94 "unit serialization non-deterministic with golang 1.4.2"
Since the unit directives were grouped into sections using a map, when iterating over the map to serialize the data, the ordering is no longer deterministic due to the randomisation of map iteration that was added into golang.

[2015-06-30 00:53] #93 closed

[2015-06-30 00:53] jonboulle commented on #94
Fixed by #96

[2015-06-30 00:53] #94 closed

[2015-07-03 07:18] geeks-dev commented on #76
+1

[2015-07-25 00:45] robertlabrie opened #97 "Unable to build on Windows"
I'm filing this because I want SkyDNS on windows, but I won't resent a "wont fix" close. Obviously there is no hope of systemd on windows....

C:\Users\rober_000\Documents>go build github.com/skynetservices/skydns
github.com/coreos/go-systemd/activation
C:\Projects\Go\src\github.com\coreos\go-systemd\activation\files.go:47: cannot use fd (type int) as type syscall.Handle in argument to syscall.Clo

[2015-07-29 17:13] jcgregorio opened #98 "go-systemd is broken at head"
Looks like an upstream dependency changed:

$ go get github.com/coreos/go-systemd/dbus
# github.com/coreos/go-systemd/dbus
src/github.com/coreos/go-systemd/dbus/dbus.go:186: cannot use conn.Object("org.freedesktop.systemd1", dbus.ObjectPath("/org/freedesktop/systemd1")) (type dbus.BusObject) as type *dbus.Object in return argument: need type assertion

[2015-08-03 16:38] hinnerk commented on #98
This patch works for me on OS X 10.10.4, Go version 1.4.2.

[2015-08-15 01:41] pquerna commented on #98
fixed by #100

[2015-08-15 01:43] #98 closed

[2015-08-21 22:56] tianon commented on #90
Super belated thanks, @philips :heart:

[2015-08-31 14:59] atvictor commented on #69
+1

[2015-09-01 19:09] jonboulle commented on #97
@robertlabrie why does SkyDNS depend on go-systemd? seems like this would be better filed there, so they can remove that dependency on non-Linux builds..

[2015-09-01 19:12] robertlabrie commented on #97
They told me to cross post here, and in the end, said he'd accept a PR
which excluded systemd on Windows builds. Doing that is burred in my
backlog. Thanks for the response.

On Tue, Sep 1, 2015 at 3:09 PM, Jonathan Boulle <notifications@github.com>
wrote:

[2015-09-01 19:17] jonboulle commented on #97
no worries, sorry about the delay!

On Tue, Sep 1, 2015 at 12:12 PM, robertlabrie <notifications@github.com>
wrote:

[2015-09-02 03:12] kt1024 opened #102 "unable to read system log"
core@coreos-test ~ $ journalctl
Error was encountered while opening journal files: Invalid argument

core@coreos-test ~ $ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=723.3.0
VERSION_ID=723.3.0
BUILD_ID=
PRETTY_NAME="CoreOS 723.3.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

[2015-09-08 07:56] kt1024 commented on #102
fixed.

cd /var/log/journal
sudo rm -rf *

[2015-09-08 07:56] #102 closed

[2015-09-23 00:58] #69 closed

[2015-10-10 20:39] sathieu commented on #70
Hasn't it be done with https://github.com/coreos/go-systemd/commit/0020698a980adf8a2c440d9be709edc85b54544a?

[2015-10-10 20:51] jonboulle commented on #70
yes, thanks for catching!

[2015-10-10 20:51] #70 closed

[2015-10-13 19:03] purpleidea opened #113 "Latest version breaks the library"
[code]

Not sure when it broke, but it broke.

[2015-10-13 19:04] purpleidea commented on #113
(Either that, or I'm misunderstanding something about go dependencies, which is likely too!)

[2015-10-13 19:05] jonboulle commented on #113
Is your godbus/dbus up to date?

[2015-10-13 19:07] purpleidea commented on #113
I thought so, but I'm happy to run whatever commands you think are correct to fix this.
I ran it out of the gopath as shown.

[2015-10-13 19:08] jonboulle commented on #113
Please try go get -u github.com/godbus/dbus

On Tue, Oct 13, 2015 at 12:07 PM, James <notifications@github.com> wrote:

[2015-10-13 19:11] purpleidea commented on #113
Strange, I'm a bit embarrassed that this has fixed the issue. Perhaps I've misunderstood something about where golang is storing it's code or this dependency mechanism.

Sorry for the noise, but any tips are appreciated.

[2015-10-13 19:11] #113 closed

[2015-10-13 19:20] jonboulle commented on #113
Basically if you `go get` a package (so in this case `go get
github.com/coreos/go-systemd`), `go` will retrieve all the dependencies
automatically UNLESS they're already present... in which case, it won't try
to update them. So if you happen to have an older version of the dependent
library (i.e. github.com/godbus/dbus) in your `GOPATH`, you unfortunately
end up with this situation.

One way to tr

[2015-10-13 23:15] pquerna opened #115 "Cgo / pkg-config dependency for Journal Reading"
Since https://github.com/coreos/go-systemd/pull/110 go-systemd now uses Cgo, and depends on both `libsystemd-journal` (at build and runtime) and `pkg-config` (at build).  These new dependencies are only used by the code for reading from the systemd journal.

This is moderately inconvenient, as previously go-systemd only used native Go packages to communicate with the journal or systemd.

Ideally n

[2015-10-13 23:16] jonboulle commented on #115
/cc @vcaputo if he has any time to get to this before I do

[2015-10-14 22:30] jzelinskie opened #116 "pkg-config fails to find libsystemd for some docker base-images"
When attempting to compile an application that depends on go-systemd, I get error messages from pkg-config failing to find `lsystemd`. I've produced this on images derived from `golang:1.5` and `ubuntu:14.04` with dockerfiles along these lines:

[code]

I've gotten a range of different errors by playing with the combination of the many transitional libsystemd packages that I install:

[code]
[code

[2015-10-15 18:13] jzelinskie commented on #115
+1 [capnslog](https://github.com/coreos/pkg/capnslog) uses this to detect if it's running under systemd and ships off directly to the journal, and I'd rather not have a logging library that requires cgo.

[2015-10-15 19:53] #115 closed

[2015-10-15 20:11] jzelinskie commented on #116
This should remain open, but now it only effects the `sdjournal` package

[2015-10-16 01:54] jonboulle commented on #116
@jzelinskie can you reproduce with this Dockerfile?
[code]

[2015-10-19 15:53] jzelinskie commented on #116
@jonboulle that Dockerfile actually works fine now. I spent a little time trying to repro with another Dockerfile and failed, but I can still repro it with our application. I'll spend some more time on it when I can so that we can figure out this mystery.

[2016-03-02 03:28] tv42 opened #142 "sdjournal: Enumerate the fields"
Right now, `sdjournal` only lets you access fields you already know to expect. The C library has `sd_journal_enumerate_data` for accessing all fields of a single message, and `sd_journal_enumerate_fields` for listing all fields that all messages in the journal contain.

https://www.freedesktop.org/software/systemd/man/sd_journal_get_data.html
https://www.freedesktop.org/software/systemd/man/sd_jou

[2016-03-02 13:45] jonboulle commented on #142
Seems perfectly reasonable, feel free to submit a patch!

[2016-03-17 17:07] PiersEBMS opened #145 "timeout value passed to sd_journal_wait should be a duration, not absolute timestamp"
sd_journal_wait appears from the man page to take a (relative) timeout value but the code passes in an absolute wall-clock time, which will presumably be massively larger than what we meant

In sdjournal.Wait():
    to = uint64(time.Now().Add(timeout).Unix() / 1000)
should be
    to = uint64(timeout / 1000)

It certainly works better with this change at my end.

[2016-03-19 00:06] mrunalp opened #146 "panic on starting transient unit"
I am working on enabling systemd-cgroup support in runc by adding a flag and seeing this error.
Here is the branch
https://github.com/opencontainers/runc/compare/master...mrunalp:systemd_cgroups?expand=1
[code]

[2016-03-19 00:08] philips commented on #146
@mrunalp can you post the bundle you are using somewhere?

[2016-03-19 00:09] mrunalp commented on #146
@philips I am using https://github.com/jpetazzo/docker-busybox/raw/buildroot-2014.11/rootfs.tar
as the rootfs and the default spec generated by running `runc spec`

[2016-04-11 11:05] kiro opened #148 "dbus connection problem"
Hello, I'm trying to connect to systemd --user, using dbus.NewUserConnection()

dbus.service and dbus.socket are both running

by default DBUS_SESSION_ADDRESS is set to
unix:abstract=/tmp/dbus-RdwKN0BXaL,guid=6b95481a972dfb9cbd5654b557024934

when trying to connect it shows this error
Process org.freedesktop.systemd1 exited with status 1

I tried changing it to the socket in the dbus.socket
unix:p

[2016-04-22 17:26] #148 closed

[2016-05-09 15:48] natefinch opened #156 "Can't go install ./... this repo"
My usual first step of looking at a go repo is to go install ./... from the repo root, to make sure everything compiles.  But you can't do that with go-systemd, because you get this:

[code]

Maybe it would be prudent to move each example into their own directory?

[2016-05-10 11:51] jonboulle commented on #156
Mind putting up a patch for this?

Nate Finch <notifications@github.com> schrieb am Mo., 9. Mai 2016, 17:48:

[2016-05-13 22:10] #156 closed

[2016-05-18 15:35] #97 closed

[2016-05-18 15:37] jonboulle commented on #76
fixed via #135

[2016-05-18 15:37] #76 closed

[2016-05-26 11:04] jonboulle opened #162 "tag new release"

[2016-05-26 17:21] lucab commented on #162
Closed via https://github.com/coreos/go-systemd/releases/tag/v8

[2016-05-26 17:21] #162 closed

[2016-05-31 14:36] kayrus opened #165 "test: unit tests fail on ubuntu yakkety"
[code]

[2016-06-02 19:21] lucab commented on #165
I also see two more failures on a Debian stretch (systemd v230):
[code]

[2016-06-03 15:39] lucab commented on #146
[code]

Looking at the first argument there, It looks like this is being called on a `nil` receiver.

[2016-06-03 20:03] lucab commented on #142
@tv42 #164 is being reviewed at the moment, and if I've understood correctly is should address your request. Care to chime in there to check that it fits your usecase?

[2016-06-03 20:53] tv42 commented on #142
@lucab Seems like it would.

[2016-06-04 20:21] lucab commented on #146
@mrunalp would you please have another look at your code and check if `*Conn` is `nil` on your side at the time of the panic? I think this panic may be due to a problem in the caller...

[2016-06-04 22:47] mrunalp commented on #146
Yeah we did fix this long time back. We can close this issue. Thanks!

Sent from my iPhone

[2016-06-05 07:23] lucab commented on #146
Thanks for following up, closing.

[2016-06-05 07:23] #146 closed

[2016-06-07 07:26] kayrus commented on #165
Latest coreos alpha:

[code]

[2016-06-07 16:00] #142 closed

[2016-06-08 17:46] CWSpear opened #171 "no buildable Go source files"
Disclaimer: I'm not normally a Go developer, so some of my terms may not be quite right.

I'm trying to build a Docker plugin that use the `go-plugins-helpers` from Docker and I wanted the binary to run in Docker `alpine`, but `alpine` doesn't have the linked dynamic binaries or whatever, so I was reading up that I need to set `CGO_ENABLED=0` when building. I've tried a few different build command

[2016-06-08 20:39] lucab commented on #171
`github.com/coreos/go-systemd/util` needs cgo, but `CGO_ENABLED=0` disables cgo. I guess that's why the build is failing.

My suggestion is that you remove the `CGO_ENABLED=0` when building, and bring `libsystemd.so` into the image hosting your plugin. However, I'm not sure I've fully understood why you need to run systemd-related code in alpine (which is one of the few distros no supporting it)

[2016-06-08 21:44] CWSpear commented on #171
I don't know why I need systemd-related code either. The plugin is a Docker Volume plugin, and one of the options is to run it as a container. I wanted the container to be small, since it's just doing one thing, so that's why I thought of `alpine`. It appears that it's needed by `unix_listener.go`, so something in there needs it to run this plugin.

How can I "bring `libsystemd.so` into the image,

[2016-06-11 01:24] yifan-gu opened #172 "JournalReader.Read() doesn't return the correct number of bytes that's been read"
Here in [JournalReader.Read()](https://github.com/coreos/go-systemd/blob/master/sdjournal/read.go#L132), the returned length can be larger than what's actually been read when the buffer provided is not big enough.
Which will cause a panic in https://golang.org/src/bytes/buffer.go#L177. (go 1.6.2 linux/amd64)

I found this when doing `kubectl logs on some pods`.

Here is the panic trace from the rk

[2016-06-11 01:25] yifan-gu commented on #172
Actually I am not sure on top of my head how we are going to handle this when the given slice is not big enough to copy all the bytes...

[2016-06-15 17:44] mattpollard opened #175 "`go get github.com/coreos/go-systemd/sdjournal` fails"
We're using [journald-cloudwatch-logs](https://github.com/saymedia/journald-cloudwatch-logs), which is a Go application that sends our servers' Journald logs to Amazon Web Services' CloudWatch Logs service.

Up until very recently – perhaps the last couple of days – I was happily installing journald-cloudwatch-logs via `go get` as part of a Chef run. However, it's started bombing, and it seems to

[2016-06-17 12:55] jonboulle commented on #175
Wow, that's embarrassing. Thanks for noticing!

[2016-06-17 12:56] #175 closed

[2016-06-20 07:51] lucab commented on #165
This should fix issues on recent debian/ubuntu. Travis tested it on Stretch and Xenial, and dbus test seems to be [ok](https://travis-ci.org/lucab/go-systemd/builds/138833030) (global failure is not related to dbus). @kayrus does it work for you?

[2016-06-20 08:44] lucab opened #180 "sdjournal: possible race in Match/Send/Wait/Next flow"
https://github.com/coreos/go-systemd/pull/164#issuecomment-224311422 seems to have highlighted a race between Match/Send/Wait/Next, where `Wait` returns after seeing the matching entry but `Next` reports and EOF. Increasing the Wait timeout doesn't seem to help, so there may be a race somewhere.

After #178 and #179, this is the only remaining testsuite failure. It doesn't happen always, but seem

[2016-06-20 08:46] lucab commented on #180
Ping @glerchundi who was initially looking into this. Do you have additional elements here?

[2016-06-20 10:21] lucab commented on #180
After a second glance at it, I think the issue is in the test itself. After installing the match filter and sending a message, it will wait for *any* event and then try to read the *matching* entry. However, wait can trigger due to unrelated events and the matching entry may still be unavailable to be read. Replacing the wait with an hard-sleep should avoid the race (I haven't found so far a C API

[2016-06-20 13:30] #172 closed

[2016-06-21 08:21] mwhudson opened #183 "recursive dependency with github.com/coreos/pkg"
Hi,

Currently github.com/coreos/pkg/capnslog/journald_formatter imports github.com/coreos/go-systemd/journal, but github.com/coreos/go-systemd/journal and github.com/coreos/go-systemd/sdjournal/journal import github.com/coreos/pkg/dlopen. This is a pain for distro developers: we want to package both github.com/coreos/go-systemd and github.com/coreos/pkg but cycles in the dependency graph are a pa

[2016-06-21 08:44] lucab commented on #183
Hi and thanks for the report! Sorry for the dependency loop, I think we can easily manage to break it. However I'm not convinced about moving dlopen to go-systemd, as we (do or may) use dlopen in other places too.

Alternative suggestions:
 * Break dlopen in its own separate go-dlopen project
 * Break capnlog in its own separate go-capnlog project. There is some discussion ongoing to completely dr

[2016-06-21 09:02] mwhudson commented on #183
Thanks for the quick response. I've filed https://github.com/coreos/pkg/issues/73 now.

[2016-06-21 09:04] mwhudson commented on #183
Bah, please excuse the spam.

[2016-06-22 13:49] alepuccetti opened #184 "SdNotify should return an error compliant with with sd_notify()"
I think it will be better if this function returns 0 in the case that $NOTIFY_SOCKET is not set as stated in [sd_notify()](https://www.freedesktop.org/software/systemd/man/sd_notify.html#Return%20Value) documentation.

[2016-07-05 10:00] #165 closed

[2016-07-12 12:52] #180 closed

[2016-07-20 12:34] #184 closed

[2016-07-21 18:24] rhiann0n opened #187 "Systemctl daemon-reload via cloud-config hoses my box."
Hello,

Hope I've put this in the right repo.  I am limited in what I can discuss via public channels, but I will state that I have a unique use case in which I must do a `systemctl daemon-reload` via a configuration management tool or via cloud-config.  When I try this method via cloud-config (via unit file), IE, running a `systemctl daemon-reload` as an `ExecStartPre=-` directive in said unit fi

[2016-07-21 18:45] rhiann0n commented on #187
Moved to https://github.com/coreos/bugs/issues/1475

[2016-07-21 18:45] #187 closed

[2016-08-06 20:13] hectorj2f opened #189 "Dbus linking function is quite expensive"
Hello there,

I am trying to improve the performance of `dbus` methods and I realized that the linking operation is quite expensive. This operation becomes a bottleneck whenever you need to `link-start` many systemd units. In fact, the response time increases over the time whenever you want to link multiple units.
As a result of my investigation, I found that the force `(force=true)` property of t

[2016-08-08 09:46] jonboulle commented on #189
Should this be filed against fleet? There's no default set here..

[2016-08-08 10:49] hectorj2f commented on #189
I thought anyone using it could benefit from it. But, yeah, I'll file it against fleet. Thanks @jonboulle for your quick reply.

[2016-08-08 12:49] jonboulle commented on #189
@hectorj2f I just don't really get what you're proposing here in go-systemd - that we have another helper function that sets it to false by default?

[2016-08-10 09:51] hectorj2f commented on #189
@jonboulle My intention is detailed in the following points:
1) Warn the people about the performance and scalability penalties of this function.
2) Learn from the developers of this module when the value of `force` should be set to `true|false`. Which are the drawbacks/advantages?.
3) This module is certainly used by fleet but I believe others components|systems might also use it as well.

I just

[2016-08-15 09:19] #171 closed

[2016-08-16 09:12] lucab opened #193 "util module is not being tested"
Currently the `util` module is not covered by any tests. We should start adding at least some basic ones, which would help avoiding breaking things (e.g. https://github.com/coreos/go-systemd/pull/192) during refactoring.

[2016-09-01 11:14] hectorj2f commented on #189
@jonboulle I see no interest here so we can close this issue ;). I'd think about adding this change to fleet  in https://github.com/coreos/fleet/blob/master/systemd/manager.go#L268.

[2016-09-01 11:14] #189 closed

[2016-09-07 20:53] eklitzke opened #199 "Missing interfaces for sd_pid_notify_with_fds and sd_listen_fds_with_names"
The methods are documented here:
 * https://www.freedesktop.org/software/systemd/man/sd_notify.html
 * https://www.freedesktop.org/software/systemd/man/sd_listen_fds.html

FYI I'm currently working on implementing these methods in the `notify_fds` branch of my fork, and I have a basic POC working (but without proper tests at the moment). I plan to contribute back my work under the CoreOS contribut

[2016-09-08 08:57] jonboulle commented on #199
Sounds good, look forward to the patch!

Evan Klitzke <notifications@github.com> schrieb am Mi., 7. Sep. 2016, 22:53:

[2016-10-10 00:36] AdoHe opened #201 "get compilation error when use sdjournal"
FYI. When I test sdjournal, I got this error:
[code]
@jonboulle

[2016-10-10 07:25] lucab commented on #201
Hi @AdoHe, I'm unfortunately missing a bit of context regarding your report.

How are you building this? Which OS and version? In order to build the `sdjournal` package you need to have the `libsystemd` development/headers files available in your system search path; are they installed?

[2016-10-13 07:37] lucab commented on #199
Gentle ping for @eklitzke. Any status update on this?

[2016-10-14 00:13] darkonie commented on #201
@AdoHe I am pretty sure you need `libsystemd` headers. If you are using ubuntu/debian you can just run `apt-get update && apt-get install libsystemd-dev`.

[2016-10-14 00:16] AdoHe commented on #201
@lucab @darkonie yes, I am confirm this, thanks very much.

[2016-10-14 07:46] lucab commented on #201
@AdoHe Thanks for following up. Not a bug, closing.

[2016-10-14 07:46] #201 closed

[2016-11-01 10:29] lucab opened #207 "Investigate one-to-one dbus calling"
go-systemd currently relies on an existing dbus system bus in order to invoke systemd methods. However, this may be not strictly needed as systemd itself exposes a UNIX socket for one-to-one dbus calling at `/var/run/systemd/private`.

It may be possible to implement a fallback mechanism, in order to retry connecting to the p2p endpoint if the system bus doesn't exist. However this needs a bit mor

[2016-11-01 10:30] lucab commented on #207
Assigning to @squeed for the initial investigation. This may help removing a dbus requirement from some tools expected to run in minimal environments, like runc.

[2016-11-01 14:36] squeed commented on #207
This is already supported, but needs to be explicitly requested. If we like, we could change the logic of `New()` to reflect systemd's logic: connect to the private bus if `uid == 0`.

[2016-11-01 17:46] jonboulle commented on #207
What guarantee do we have that it's 1:1 with dbus? I'm wary because of https://github.com/systemd/systemd/issues/3610#issuecomment-229679807

[2016-11-02 13:39] squeed commented on #207
We don't have that guarantee per se. However, all the current systemd tools operate this way - they try kdbus, then private socket, then public bus.
We have some important scenarios where we need to talk to systemd without dbus running, so adding this as a fallback would be really useful.

[2016-11-02 14:32] lucab commented on #207
No explicit guarantee, but systemd internally is doing this [kind of automatic fallback](https://github.com/systemd/systemd/blob/v231/src/shared/bus-util.c#L585) so it seems to handle all cases transparently without special-casing endpoints on different buses. I think this gave us some confidence margin that there won't be big differences.

Just to be more conservative, second iteration of #208 sw

[2016-11-08 12:53] #207 closed

[2016-11-14 12:22] #193 closed

[2016-11-21 17:15] cpg1111 opened #213 "Additional Machined functionality"
Hi there,

I was taking a looking at go-systemd's machined functionality and I was wondering how come there's only `RegisterMachine()`?

If adding additional functionality in there is something desired, I'd be happy to submit a pull request adding features such as GetMachine, GetImage, ListMachines, TerminateMachine, etc.  And if it'd be preferred that I add each one in a separate Pull Request, I

[2016-11-21 17:25] jonboulle commented on #213
There was actually a PR put up recently to add this but it was closed in favour of @purpleidea following up with a reworked version: https://github.com/coreos/go-systemd/pull/210

Feel free to use that one as a starting point, or just creating your own, but probably best to check with @purpleidea

[2016-11-21 23:49] purpleidea commented on #213
@jonboulle @cpg1111 I'm actually not personally working on this, I forked @joejulian's version because it was referenced in https://github.com/purpleidea/mgmt/ and changing his PR kept breaking our git master. I'm not sure if he's still working on the upstream patch or not, so I'd ask him, or go for it.

If you'd like to patch mgmt's nspawn resource with your improvements, that would be welcome to

[2016-11-21 23:55] joejulian commented on #213
Feel free to take what you want from https://github.com/joejulian/go-systemd/tree/machine1_support and create your own PR. I found some issues with race conditions within systemd and/or systemd-machined that interfere with the work I was doing on mgmt.

Additionally there seemed to be some sort of philosophical problem with the work I was doing and I'm novice enough with golang that I didn't have

[2016-11-21 23:57] cpg1111 commented on #213
@purpleidea Ah ok.  I have already submitted Pull Request in this repo here https://github.com/coreos/go-systemd/pull/214, it's failing tests due to the need for root to create machines, which I discuss in the PR.  I hadn't come across https://github.com/purpleidea/mgmt/ before, I'll take a look and see if I can submit a Pull Request for that as well.

[2016-11-22 00:12] purpleidea commented on #213
On Mon, Nov 21, 2016 at 6:57 PM, Christian Grabowski
<notifications@github.com> wrote:

Great! The WIP nspawn code is in resources/nspawn.go Feel free to ping
me on Freenode IRC in #mgmtconfig if you have questions. You'll notice
that there is a temporary fork of this lib under the purpleidea
namespace. Once everything is in git master here, we should kill that
and put it back to normal too.

Chee

[2016-12-21 15:28] cpg1111 commented on #213
https://github.com/coreos/go-systemd/pull/217 adds the additional functionality.  I'm fine closing this issue unless anyone wants this open still?

[2016-12-21 15:33] jonboulle commented on #213
lgtm

[2016-12-21 15:33] #213 closed

[2017-02-06 12:44] nicorevin opened #222 "sdjournal: goroutines stuck on channel send"
Hi!

I have a problem with https://github.com/coreos/go-systemd/blob/e97b35f834b17eaa82afe3d44715c34736bfa12b/sdjournal/read.go#L218

I'm using a [slightly modified version](https://github.com/mheese/journalbeat/blob/652d30b90adde3e8406f308ee0a78fed7594c0a7/journal/follow.go#L86) of `(r *JournalReader) Follow()` returning a channel of `*JournalEntry`s but the waiting logic is preserved so I'm writ

[2017-02-10 03:34] LukeShu commented on #199
I've implemented all of the sd-daemon interfaces at https://godoc.org/git.lukeshu.com/go/libsystemd/sd_daemon .

Feel free to borrow my implementation; I borrowed parts of it from here.

[2017-02-13 15:07] rebeccaskinner opened #223 "ListUnitsByNames returns an error"
What Happens:

Calling the `ListUnitsByNames` function on `*dbus.Conn` results in an unexpected error:  `Unknown method 'ListUnitsByNames' or interface 'org.freedesktop.systemd1.Manager'`

What I expected to happen:

A slice of `UnitStatus` and no error, or a more descriptive error message.

How to reproduce:

Sample Code:

[code]

Test system:

[code]

[2017-02-13 15:34] lucab commented on #223
Which systemd version is this on? `ListUnitsByNames` has been added only recently in https://github.com/systemd/systemd/pull/3182, which should be 232+.

[2017-02-13 15:47] dongsupark commented on #223
@lucab I think systemd needs to be v230 or higher for `ListUnitsByNames`, while systemd on Ubuntu xenial is [v229](http://packages.ubuntu.com/xenial/systemd).
So it's recommended to introduce fallback like [this](https://github.com/coreos/fleet/blob/master/systemd/manager.go#L215..L224).

[2017-02-13 15:51] rebeccaskinner commented on #223
Okay yeah, I'm on 229.  I've refactored to work around needing the call.  I wonder if it's worthwhile to append a `since: <version>` line to the method comment descriptions?  Happy to take some time to make a PR if that's something that you all think would be valuable.

[2017-03-14 16:28] #222 closed

[2017-03-21 18:14] james-lawrence opened #229 "systemd unit dbus subscriptions should use unit events."
basically this TODO needs to be implemented.
[code]

[2017-03-24 09:58] #145 closed

[2017-03-26 19:58] cpg1111 opened #232 "Systemd-Importd support"
Hi there,

Would there be any opposition to implementing support for importd? [importd docs found here](https://www.freedesktop.org/wiki/Software/systemd/importd/).

I'd be happy to implement this and submit a pull request is this is something desired.

Thanks

[2017-03-27 08:14] lucab commented on #232
I haven't personally heard of many requests for importd support, but if you have usecases for it we'll gladly review and merge here.

As this systemd-importd is usually not enabled on most distros, please add some runtime detection for tests (so they can be loudly-skipped where support is missing).

[2017-05-26 19:38] krobertson opened #233 "Journal logging doesn't reconnect if journald gets restarted"
We encountered this issue today twice on a production system. We haven't yet identified the root cause, however this appeared to be an ancillary issue.

The host was running out of memory, likely from journald. It attempted to compress and rotate logs, but was unable to allocate the memory. Journald died but was restarted. However' we're also using the docker journald log driver along with journal

[2017-05-29 07:32] lucab commented on #233
See https://github.com/coreos/go-systemd/pull/218 for reference.

[2017-06-24 16:27] ahmebane opened #235 "Is there a way to read from remote-journal uploads?"

[2017-06-26 11:43] lucab commented on #235
Can you please add some details about what you tried and what doesn't work? I think in theory it should be enough to point `NewJournalFromDir()` to `/var/log/journal/remote/` or whethever you are receiving those logs.

[2017-06-26 14:00] ahmebane commented on #235
Thanks - that's what I figured out yesterday - appears to work well.

[2017-06-26 14:00] #235 closed

[2017-07-31 09:54] iaguis opened #236 "sd_pid_get_owner_uid broken on systemd v234"
In https://github.com/systemd/systemd/commit/bc9e9af13706dd89dd826c021f6a94f87e637abf, systemd changed errors returned by sd-login functions.

In particular, they're translating `-ENXIO` to `-ENODATA` now to match documentation which [breaks our logic](https://github.com/coreos/go-systemd/blob/24036eb3df68550d24a2736c5d013f4e83366866/util/util_cgo.go#L129).

This breaks rkt: https://github.com/rkt

[2017-07-31 10:13] lucab commented on #236
Thanks for all the references. I think this `-ENODATA` contract goes back to https://github.com/systemd/systemd/commit/707b66c66381c899d7ef640e158ffdd5bcff4deb (v226) but `sd_pid_get_owner_uid()` was left out by mistake, right?

[2017-07-31 10:15] iaguis commented on #236
Yep, I think you're right.

[2017-07-31 11:19] #236 closed

[2017-08-23 16:11] mildred commented on #5
Apparently this is going to be fixed in go 1.10 at worst : https://go-review.googlesource.com/c/go/+/45872

[2017-08-23 16:16] mildred commented on #5
Is it possible to clarify which API are affected? Will using the `sdjournal` package, especially the functions on `sdjournal.Journal` can cause problems.

I am asking because I have an issue with journalbeat which uses go-systemd. Recently, logs got corrupted, and I was indeed having very large journal files that were being rotated by journald.

[2017-08-23 16:26] lucab commented on #5
@mildred yes, I'm waiting for for 1.9 to rebase and then cherry-pick to `x/sys` as well. But I don't think this bug is related in any way to what you are seeing, it only affects clients trying to send large entries (send will fail).

[2017-08-28 14:37] freeekanayaka commented on #71
Following up this old issue since I stumbled into it while working on LXD and reading @stgraber's workaround (referenced just above here).

@nikolay-turpitko I think your report and analysis were quite clear and compelling, and I'm surprised that Ian Lance Taylor was so dismissive initially, when replying to your post on golang-nuts ("This means making the API more complex, which is something we o

[2017-08-29 18:46] freeekanayaka commented on #71
Actually I just realized that, although the ```SetUnlinkOnClose``` API is available only since Go 1.8, actually the fix for the bug was merged already in Go 1.6, after an issue identical to this one was reported by a Docker folk:

https://github.com/golang/go/issues/11826

The relevant commit to master that closes the issue is dated 5 December 2015:

https://github.com/golang/go/commit/a4fd325c178

[2017-08-30 18:00] ssgreg commented on #233
Guys, please check the implementation: https://github.com/ssgreg/journald

[2017-10-12 10:47] arianvp opened #240 "Access unit properties outside of the "org.freedesktop.systemd1.Unit" interface?"
So `GetUnitProperties` performs the following DBus call:

[code]

However,  Systemd sets _A lot_ more properties on a `Unit` then are exposed through the `org.freedesktop.systemd1.Unit` interface

The `org.freedesktop.systemd1.Unit` interface exposes the following properties:

<details>

[code]

</details>

However, when you type `systemctl show <unit>` a lot more properties are shown than defined

[2017-10-12 10:56] arianvp commented on #240
Nevermind!  I neeed the `org.freedesktop.systemd.Service` interface for the things I need!

However there is no `GetServiceProperties` function in go-systemd, only

[code]

that accesses a single property.

I'll see if I can make a PR for this

[2017-10-12 11:23] arianvp commented on #240
https://github.com/coreos/go-systemd/blob/2f344660b11f7285b0af86195c4456e92970f640/dbus/methods.go#L210 was the function I was looking for

[2017-10-12 11:23] #240 closed

[2018-02-19 11:15] lucab commented on #5
Good news is that my [fix](https://go-review.googlesource.com/c/go/+/45872) is now released as part of Go 1.10. Bad news is that after backporting to `x/sys` I realized we can't really start using it right now.

I will wait for the next Go release (1.11) before starting to use it, thus closing this is ticket at that point. Until then, this still blocks https://github.com/coreos/go-systemd/pull/218

[2018-03-03 09:54] Richterrettich opened #253 "Feature request: Custom formatter for sdjournal reader"
At the moment, `JournalReader` has a fixed message template for each entry. It would be really helpful if I would be able to alter the format.

I have thought of something like this:

[code]

I can send you a patch if you are okay with this kind of feature.

[2018-03-07 20:06] #253 closed

[2018-03-09 15:20] lucab opened #255 "dbus: Conn.Reload is broken on systemd-238"
After updating to latest systemd-238, Reload is now broken and the testsuite is failing:
[code]

[2018-03-09 15:38] lucab commented on #255
Chasing libraries and services, the error seems to be originating in the dbus daemon itself: https://cgit.freedesktop.org/dbus/dbus/tree/bus/connection.c?id=395269e0bce3782b0b413fbad89bdb9337b8df9d#n1831

[2018-03-09 15:47] lucab commented on #255
This seems to be a regression outside of go-systemd or godbus scope. With plain systemd tools:
[code]

This has been observed on latest ContainerLinux nightly:
[code]

[2018-03-09 16:57] lucab commented on #255
OTOH `systemctl daemon-reload` does not complain. It calls the `Reload` method, and does not get the error from dbus. Instead, it receives the two `Reloading` signals and gently exits after that.

[2018-03-09 17:20] lucab commented on #255
Upstream systemd ticket at https://github.com/systemd/systemd/issues/8414

[2018-03-20 01:58] muesli opened #257 "Concurrency issue with TestJournalFollow"
`TestJournalFollow` spawns a goroutine which calls t.Fatalf. I'm not entirely sure this works as intended, as you're supposed to call it only from the same goroutine as the test itself.

[2018-03-20 11:48] lucab commented on #257
I agree with this, current test logic is not correct. The goroutine should take a 1-buffered `errCh` and send back the first error encountered, or nil on success.

[2018-03-20 22:59] muesli commented on #255
Seems fixed upstream and can probably be closed here as well? Fwiw, I can't reproduce it with systemd 238 on Arch.

[2018-03-20 23:09] muesli commented on #83
It looks like Docker now directly depends on coreos/go-systemd/daemon? I can't find the original sources in their repository (master HEAD) anymore.

We should probably update the copyright notice. Could one of the maintainers comment on the current licensing situation? Have the original sources including their copyright been handed over from Docker to CoreOS?

[2018-03-21 09:05] lucab commented on #255
As I mentioned in the upstream ticket, I'm fairly confident this is fixed by the referenced PR in systemd. I'm just waiting confirmation from the original (private) reporter before finally closing this ticket.

[2018-03-21 09:38] lucab commented on #83
At this point `sdnotify.go` has been basically rewritten, the only function in there even has a completely different signature.
I personally think we should retain the initial copyright line for its historical value, and add a relevant one covering 2015-2018. The NOTICE file covers docker/moby (the product) as a whole project, and I don't think it is relevant here anymore given the status above.

[2018-03-21 13:49] #223 closed

[2018-03-21 19:23] lucab commented on #255
Confirmed fixing, closed. For anybody hitting this on distros shipping a vanilla systemd-v238, the patch to backport to fix the regression is https://github.com/systemd/systemd/pull/8473/commits/e63ebf71edd7947f29389c72e851d8df5c7bedda

[2018-03-21 19:23] #255 closed

[2018-03-27 07:44] #83 closed

[2018-04-05 08:34] #257 closed

[2018-04-21 02:09] toravir opened #275 "journald: support mocking Send for external consumers"
Is there a way to write go tests to test journal.Send() calls ?? So that i can know for sure all the pieces of data sent are indeed sent to the journald correctly.

[2018-04-26 20:26] toravir commented on #275
sdjournal tests writing and reading. But in my package i am just using journald to write. I cannot use sdjournal to read back - since sdjournal requires the underlying system to have libsystemd-dev. Is there some mock mechanism to check if the data is sent correctly over the unix Socket ??

[2018-05-07 10:10] lucab commented on #275
At the moment a consumer cannot mock or hijack the socket for `journal.Send`. While I am not sure this is something we actually want to expose, I think it may be feasible after the rework described in https://github.com/coreos/go-systemd/pull/218#issuecomment-274490875 is done.

Why do you want to externally test `journal.Send` behavior? This should pertain to library tests, without exposing all i

[2018-05-07 13:33] toravir commented on #275
A library that uses journal.Send(), needs to write a test - like in https://github.com/rs/zerolog/blob/master/journald/journald_test.go, it can verify the data being given to the library is sent correctly to the systemd.

I want to write go-tests - so i am looking for some mock that is process specific (so that the test can run in an env with and without systemd). It is just like mock "net/http/ht

[2018-05-07 13:47] lucab commented on #275
If you want to check that the data has been properly recorded in journald then the way to go is indeed the `sdjournal` package, which requires a running systemd-journald + libsystemd. If you aren't in such environment and don't actually care about journald behavior, then just place your own receiver behind a unix socket at `/run/systemd/journal/socket`.

In general no, I'm not eager to expose test

[2018-05-09 15:46] Richterrettich opened #277 "Feature request: Implement concrete types for systemd config files"
The current `unit` package provides basic config file parsing with key value pairs as a results.
It would be nice to have a typesafe api for systemd config files like service files or even a resolved.conf file.
Something like this:

[code]

Maybe an API like the json package:

[code]

An error could be returned if the unit contains invalid keys for that type.

I would volunteer to implement this i

[2018-05-25 13:22] lucab commented on #277
I'm not super-thrilled about it, but at the same time I would be interested in seeing this explored in a dedicated repository. In particular, I'd be interested in the maintainability and ergonomics of it.

A couple of cons that come to my mind on this:
 * field names and format varies across systemd release. This means that we are coupling this library API to specific systemd releases, and adding

[2018-05-29 09:28] lucab commented on #275
@toravir FYI https://github.com/coreos/go-systemd/pull/279/files#diff-985ded8023b21268d0d5cf7f29781d2eR55.

[2018-06-13 14:01] Rosanna4 opened #280 "[help request] Broken UDP socket activation"
After https://github.com/coreos/go-systemd/commit/65cc0ad826177f0ec9f0ee87c1bc5718b0d8ec97 UDP socket activation is broken with [dnscrypt-proxy](https://github.com/jedisct1/dnscrypt-proxy/issues/480#issuecomment-396890659). Can someone knowledgeable propose any advice for a workaround? Here or in the mentioned issue.

Thank you for any help.

[2018-06-13 15:12] Rosanna4 commented on #280
It's fixed with https://github.com/jedisct1/dnscrypt-proxy/pull/492

[2018-06-13 15:12] #280 closed

[2018-07-05 02:58] tv42 opened #281 "exampleCmd broke tests"
[code]

Every test using `exampleCmd` is broken, that's just an example. It's trying to run `go go run ...`, which is just silly. The breakage is from commit c1ede760d1f1e735deb007ee19bab8936fcf20f4, paging @lucab.

`os/exec.Command` arguments are not supposed to repeat `arg0`. I would recommend returning a prepopulated `*exec.Cmd` from `exampleCmd`.

[2018-07-05 09:34] #281 closed

[2018-07-07 00:23] charles-dyfis-net opened #283 "Hide dependencies on systemd headers behind conditional compilation"
There are a few reasons the dependency on systemd to compile sd-journal is unfortunate:

- Parts of go-systemd can legitimately be used (or at least tested) on platforms that can't run systemd at all.
- Pulling in systemd bits at compile time complicates the licensing status of this library. (Yes, the parts of systemd used here are LGPLed, but since *some* parts are GPLed, I can speak for there be

[2018-07-09 13:19] lucab commented on #283
I think that none of those points are actual issues that need to be addressed.

This repository is already organized in multiple packages, so that packages that don't require systemd FFI are already pure Go modules. Consumers do import specific packages as required, not the umbrella repository.

The license in this repository covers its source code; when aggregated together with other pieces the r

[2018-07-09 15:28] charles-dyfis-net commented on #283
Indeed -- directly being able to `go get github.com/coreos/go-systemd/unit` solves my issue. Apologies for the noise.

[2018-07-09 15:28] #283 closed

[2018-08-28 05:54] GraveRaven opened #284 "validVarName doesn't fail variables starting with _"
Variables starting with an underscore are not allowed by systemd. The code tries to test for it but there's a mistake with a missing parentheses around the or clauses.

[2018-08-28 14:03] #284 closed

[2018-08-29 17:13] liaojie opened #286 "Can activation.Listener only be called once ?"
Hello,
I have a foo.socket which have two ListenStream configuration, and they're in different modules of my codes. In the first module after calling activation.Listeners() I can get these two listeners. But calling it again in the second module later returns a empty slice. After removing it in the first module, just calling this function in the second module, I get the correct result.

So it seem

[2018-08-29 17:30] lucab commented on #286
Yes, because it operates on global process state (file descriptors) and take ownership of them. It used to be possible to do what you are describing, but we discovered that it was actually racy due to behavior of the Go runtime. You can follow the full explanation and references at https://github.com/coreos/go-systemd/pull/276.

[2018-08-30 02:57] liaojie commented on #286
Got it, Thanks for your reply.

[2018-08-30 08:04] lucab commented on #286
@liaojie you're welcome. I am going to close this, feel free to ask if you have more doubts.

[2018-08-30 08:04] #286 closed

[2018-09-09 08:06] JayceCao opened #287 "Is there any way to get all enabled units?"
I used `ListUnitsFiltered()` method with `['enabled']` parameter to get all enabled units, but the method returned an empty array. Is there any way to get all enabled units? Thx

[2018-09-09 14:09] JayceCao commented on #287
Found the answer... I didn't distinguish the definition of `units` and `unit files`. `ListUnitFilesByPatterns()` method solved my problem.

[2018-09-09 14:09] #287 closed

[2018-10-01 08:10] lucab opened #289 "dbus: ListUnits does not behave as documented"
[Conn.ListUnits](https://godoc.org/github.com/coreos/go-systemd/dbus#Conn.ListUnits) currently says:

However there are been reports from the field that its behavior is somewhat puzzling and some loaded units are missing from the returned array. In particular, @SuperQ noticed that Prometheus node_exporter is encountering https://github.com/prometheus/node_exporter/issues/1082 in a consistent way a

[2018-10-04 13:38] lucab opened #290 "flake: sporadic test failures from TestMachine"
`machine1` testsuite sporadically fails with:

[code]

I think this could be because `TerminateMachine` is asynchronous and we are racing against termination, but I didn't check server-side code in systemd to confirm that. If that is the case, testcode should be augmented with retry+timeout logic.

[2018-10-05 09:44] dongsupark opened #291 "Add DBUS methods for portable1"
Since v239, systemd supports portable services: https://github.com/systemd/systemd/blob/v239/doc/PORTABLE_SERVICES.md

It would be great, if go-systemd could have relevant bindings for those DBUS methods.

[2018-10-11 14:48] miono commented on #289
According to @poettering in this systemd-issue: https://github.com/systemd/systemd/issues/5063 systemd isn't supposed to report units that aren't loaded when using the ListUnits-method of the Manager-interface.

Units that are neither enabled or started aren't actually loaded. (`systemctl status` actually loads the unit for the purpose of displaying information but unloads it immediately after the

[2018-10-11 15:02] SuperQ commented on #289
Seems reasonable. Is there a method to get a list of disabled units?

[2018-10-11 15:09] miono commented on #289
Not that I've found. But there is ListUnitFiles, which is already implemented in go-systemd.

[2018-10-12 08:56] miono commented on #289
@lucab My first time contributing to go-systemd (or anything else for that matter), please let me know if I did something wrong.

[2018-10-12 10:06] lucab commented on #289
Looking at systemd, `systemctl list-unit --all` [simply does](https://github.com/systemd/systemd/blob/v239/src/systemctl/systemctl.c#L597) a `ListUnitsByPatterns` with empty arguments (and [falls back](https://github.com/systemd/systemd/blob/v239/src/systemctl/systemctl.c#L624) to `ListUnitsFiltered`). This also returns loaded but inactive units.

For other cases, e.g. disabled or masked unit file

[2018-10-12 10:41] miono commented on #289
This exactly pinpoints what's confusing about it all: Knowing the logic for when a unit is loaded. You can do `systemctl status <unloaded unit>`, which will make systemd load the unit ad hoc for the purpose of displaying information about it. So it looks loaded in the terminal output, but is immediately un-loaded again by systemd.

_loaded but inactive units_ only matches "started" units.

[2018-10-12 12:30] #289 closed

[2018-10-30 14:00] purpleidea opened #295 "Someone broke the builds!"
[code]

I don't know exactly when this started because I've been AFK a bit, but someone broke the builds! :(

[2018-10-30 14:09] lucab commented on #295
https://github.com/coreos/go-systemd/pull/293#issuecomment-432563677

[2018-10-30 19:10] lucab commented on #295
Closed by https://github.com/coreos/go-systemd/pull/296.

[2018-10-30 19:10] #295 closed

[2018-10-30 21:12] peterfraedrich opened #297 "Create new v18 release with godbus dependency fix"
godep is unable to vendor `coreos/go-systemd` because the v17 (latest) release is failing its dependency checks due to #296 .

[code]

[2018-10-31 08:58] lucab commented on #297
Thanks for the report. I'm tagging a release as we speak. However I fear that you are observing a different and completely unrelated behavior, judging from your output:
[code]
Please note that `dep` here is telling you that it didn't detect any go package at that path. And it is indeed right, as the top level of this project is not a single package (mostly to insulate cgo usage to a few specific p

[2018-10-31 10:05] lucab commented on #297
In any case: https://github.com/coreos/go-systemd/releases/tag/v18

I'm leaving this ticket open till tomorrow in case @peterfraedrich gets more insights from tracking down the problem.

[2018-10-31 14:06] peterfraedrich commented on #297
@lucab little column A, little column B.

v18 works great, thanks for doing that.

[2018-10-31 14:06] #297 closed

[2019-02-03 10:13] runcom opened #300 "nil signals on Reboot"
We're getting `nil` signals on a `Subscribe("SessionNew")` when we call `.Reboot`. Not sure it depends on go-systemd or systemd logind itself (couldn't find code for that nor dived enough to find it). We're skipping `nil` signals for now but I believe we're doing something wrong or systemd/go-systemd.
Or it may just be the channel closing and we're getting `nil` and that's it :smile:

@lucab ptal

[2019-02-03 18:07] runcom commented on #300
alright, looks like it's just channel closing on reboot to my testing now

[2019-02-03 18:07] #300 closed

[2019-02-12 14:44] #290 closed

[2019-02-20 20:52] CS-5 opened #302 "Cannot use dbus.SystemBusPrivate"
Installed with `go get github.com/coreos/go-systemd ` on Ubuntu 18.04.

When I try and run my application, I get the following error
[code]
This seems to have been resolved in #296, however as indicated in the above log, the latest version is being used.

[2019-03-20 19:15] MarkNooneTCD commented on #302
Having the same issue!

[2019-03-21 10:03] lucab commented on #302
Assuming this is the same issue as #296, you have to ensure you are using a go-dbus version >= 5.0.

[2019-03-21 10:07] #5 closed

[2019-03-21 10:07] #233 closed

[2019-03-21 10:07] #275 closed

[2019-03-24 14:37] CS-5 commented on #302
Ah, that would be what I missed.

[2019-03-24 14:37] #302 closed

[2019-06-14 07:34] Xuanwo commented on #232
I'm interested on this too, I will implement it in later few days.

[2019-06-20 07:13] #232 closed

[2019-07-09 06:03] peterfraedrich opened #311 "systemd/dbus broken again"
It looks like (similar to #295 ) dbus is broken again.

[code]
My env:
* Ubuntu 18.04
* go version go1.12.4 linux/amd64

[code]

[2019-07-09 06:09] peterfraedrich commented on #311
additionally, because this repo doesn't use semantic versioning for releases, i am unable to downgrade to the previous release using `go get ...`

[2019-07-09 07:13] lucab commented on #311
Thanks for the report. The error you are seeing is due to a non-matching (i.e. ancient) version of go-dbus in your dependency tree. You can fix it by updating it to anything >= 5.0.

If you are using `dep`, this library provides a Gopkg manifest to make that automatic.

If you are using go module, you need to adjust that manually on your own. https://github.com/coreos/go-systemd/pull/307 has the w

[2019-07-10 17:41] #311 closed

[2019-07-23 12:54] heartbeat2015 commented on #201
what's package for centos

[2019-07-23 12:57] heartbeat2015 commented on #201
yum install systemd-devel   can work on centos7

[2019-07-29 09:40] Richterrettich opened #314 "Journal entry not written when process ends too quickly"
In case the main process ends too quickly, no log entries are written to the journal. I have tested fd7a80b32e1fc73e890fde45604ed5009dc817a3 as well as https://github.com/coreos/go-systemd/tree/v17

## Minimal working example

[code]
`go build && ./journald-test && sudo journalctl $PWD/journald-test `

finds no log entries.

[code]

`go build && ./journald-test && sudo journalctl $PWD/journald-tes

[2019-07-29 09:56] lucab commented on #314
I have some suspicion that the log entries may be in the journal, just not attached to any specific unit/slice (as the process exit destroys some info, and journald is racing to gather them).
Can you try passing `-o json -a` to `journalctl` and manually digging to see if they are there?

[2019-07-29 10:49] Richterrettich commented on #314
Thank you for the hint! You are correct, the log entry is indeed present (I altered the message to distinguish the log entries):
`sudo journalctl -o json -a _COMM=journald-test | jq`
[code]
I tried it a couple of times and the results are consistent. The easiest workaround is something like this: `sudo journalctl  _COMM=journald-test` instead of this `sudo journalctl  /usr/bin/journald-test`.

For

[2019-07-29 11:34] lucab commented on #314
This is already tracked upstream as https://github.com/systemd/systemd/issues/2913. It is way deeper than anything go-systemd could do, and it's a limitation of the kernel to userspace interface. I'm just closing this ticket here, interested parties should directly watch the systemd one instead.

[2019-07-29 11:34] #314 closed

[2019-08-02 00:10] baude opened #315 "Question: AddMatch conflict with SeekTail?"
Not sure where else to direct this question.  in the libpod/podman (github.com/containers/libpod), we implement an event system that reads and writes to journald.  On the read, by default we want be able to seek the tail of the journal and "watch" for events from there.  The following code does in fact do that with one annoying problem.  If I enable (uncomment) the AddMatch to filter more specific

[2019-08-02 09:02] rhatdan commented on #315
@jonboulle PTAL

[2019-08-06 13:39] lucab commented on #315
We were having an out-of-band chat about this.
I don't have any reference at hand, but I seem to remember this is in fact a corner-case of the interaction between seeking and filtering.
There isn't much logic related to that in this wrapping library, so I think it's a behavior directly coming from the libsystemd C library.
This is just my gut feeling though, it would need to confirmed by reading t

[2019-08-24 21:55] arianvp opened #316 "systemd-escape --template equivalent?"
How hard would it be to implement an equivalent of `systemd-escape --template` ? Sounds useful to start templated units

[2019-11-09 20:04] moshloop opened #320 "go-systemd is not a valid go module"
Running `go get github.com/coreos/go-systemd` fails with:

`unexpected status (https://goproxy.io/github.com/coreos/go-systemd/@v/list): 404 Not Found`

This is due to semver not being applied correctly i.e. the repository should have a tag `v21.0.0`, not just `v21`

[2019-11-11 15:49] lucab commented on #320
Thanks for the report.
This should have been a transient error, as we were in the process of switching to Go modules between `v21` and `v22.0.0`. You can read the whole plan and story at https://github.com/coreos/go-systemd/pull/307. It should be fine now as we completed the switch.

For reference, there are two relevant releases for library consumers:
 * https://github.com/coreos/go-systemd/relea

[2019-11-11 15:49] #320 closed

[2019-11-11 21:11] theory opened #321 "github.com/coreos/go-systemd/journal: no matching versions for query "latest""
I was just converting a project to a Go module, and was pleased to see #307 merged and v22.0.0 tagged. So I was trying to rely on the go-systemd module, but ran into an error:

	github.com/coreos/go-systemd/journal: no matching versions for query "latest"

I can trigger this error with this simple program:

[code]

I can fix it by changing the import to `github.com/coreos/go-systemd/v22/journal`;

[2019-11-11 23:47] lucab commented on #321
Thanks for the report. I fear you are hitting intrinsic UX issues with the whole Go module machinery, and I don't think there is much I can do as a maintainer of this library.

For the standalone example, see https://github.com/coreos/go-systemd/issues/320#issuecomment-552499085 which explains the Go module switch.

For the etcd case, I think you can ask the etcd maintainers to bump the dependency

[2019-11-12 05:49] jarsaccount commented on #321
I Add this in my go.mod
replace (
  github.com/coreos/go-systemd => github.com/coreos/go-systemd/v22 latest
)
then go mod tidy, and I made it.
It will become
require (
 github.com/coreos/go-systemd v0.0.0-00010101000000-000000000000 // indirect
)

[2019-11-12 13:47] chr1043086360 opened #322 "build command-line-arguments: cannot load github.com/coreos/go-systemd/journal: module github.com/coreos/go-systemd/journal: invalid character '<' looking for beginning of value"
[code]

[2019-11-12 19:15] theory commented on #321
Yes, I was aware of the switch, to Go Modules in v22.0.0, which is great. I don't know enough about modules yet, though, to properly understand the source of or reaseon this error, though.

Or capnslog I guess. How do I pin the version? Or is it better to follow @jarsaccount's suggestion? I added

[code]

To my `go.mod` and now `go mod tidy` doesn't complain anymore.

[2019-11-12 21:27] lucab commented on #322
@chr1043086360 please double-check your network/proxy/etc, I think you ended up with an HTML page instead of a Go source file.

[2019-11-13 02:14] zhaojingtao opened #323 ""go get the go-systemd" package in all golang proxy website,i can't download"
go get: github.com/coreos/go-systemd@v0.0.0-20190719114852-fd7a80b32e1f updating to
        github.com/coreos/go-systemd@v0.0.0-20191111152658-2d78030078ef: reading https://gonexus.dev/github.com/coreos/go-systemd/@v/v0.0.0-20191111152658-2d78030078ef.mod: 500 Internal Server Error

[2019-11-13 02:25] #323 closed

[2019-11-13 02:40] zhaojingtao commented on #321
actually, i can not load this package when i use go get whih proxy url.
who have good solution ?

[2019-11-13 03:00] zhaojingtao opened #324 "when i install go-micro, i found that your package can not install lastest version with proxy url"
when i install go-micro, i found that your package can not install lastest version in proxy url (i had tried many proxy,such as alibaba,gonexus.dev and so on),they all both had same result, not found or 400

https://goproxy.io/github.com/coreos/go-systemd/@v/list
the page will report:" not found "

but in other golang package ,you can find that its list will show you some information
such as : htt

[2019-11-14 03:29] lostz commented on #324
me too

[2019-11-14 14:02] lucab commented on #324
Thanks for the report.
Unfortunately I don't have direct insights/control into proxy services, so it may be more useful to just report this to the service developers/owners to investigate what's going on.

Looking a bit around over there, I see that `v22.0.0` seems to be present there: https://goproxy.io/github.com/coreos/go-systemd/v22/@v/.

[2019-11-15 10:58] niallnsec opened #325 "Go Module Version Error"
Since the v22 release I can no longer update dependencies in many of my projects. Running go get -u results in the following error:
`go: github.com/coreos/go-systemd@v0.0.0-20191111152658-2d78030078ef: go.mod has post-v0 module path "github.com/coreos/go-systemd/v22" at revision 2d78030078ef`

I firsttried:
 - changing it to use v22.0.0 explicitly
 - specifying +incompatible on the import in go.mo

[2019-11-15 11:22] lucab commented on #325
Thanks for the report.
I've seen a lot of oddities with Go modules so far, and most of them were related to either bugs in tooling or complex dependency graphs. Before venturing into deeper debugging, I would suggest that you:
 * make sure you are using latest Go toolchain (at this time, 1.13.4)
 * start from a basic example with no dependencies other than go-systemd, make it work, then add back y

[2019-11-16 16:01] #324 closed

[2019-11-16 16:04] zhaojingtao commented on #324
when i use golang 1.13, i can download the whole go-micro resp.
so i think this issue is not a problem .thanks, lucab

[2019-11-17 09:44] binderclip commented on #325
@lucab Could you please change v22.0.0 to v22?

[2019-11-17 12:48] lucab commented on #325
@binderclip unfortunately I cannot, as Go modules require semver tags. Here is an overview on recent releases https://github.com/coreos/go-systemd/issues/320#issuecomment-552499085.

[2019-11-18 11:20] lucab commented on #321
@theory to the best of my understanding, the "versionless replace" hack should work as long as the versioned and non-versioned releases of this library have no any API-breaking changes.

[2019-11-18 21:17] theory commented on #321
Looks like [capnslog](https://github.com/coreos/pkg/) does not pin a version of go-systemd, [etcd does](https://github.com/etcd-io/etcd/blob/63dd73c1869f1784f907b922f61571176a2802e8/go.mod#L7), so presumably if I copy that line it will continue to work. Would be nice to have a way to say "Pin whatever version this other module pins".

[2019-11-22 10:20] lucab commented on #322
@chr1043086360 any update on this?

I'm proceeding to close this as it seems to be 1) a local (possibly network) issue 2) coming through `etcd/clientv3`.

If you are still having issues, feel free to follow up. It could be more helpful to forward and debug your issues on the `etcd` bug-tracker.

[2019-11-22 10:20] #322 closed

[2019-11-26 20:37] coderanger opened #326 "login1 command wrappers do not return the call error"
The pattern used in other packages here is something like `return c.object.Call(...).Err` but the wrapper methods in `login1` just swallow any errors.

[2019-12-10 03:18] codyaray commented on #325
I'm still seeing this same error today. :(

[2019-12-10 09:52] lucab commented on #326
Thanks for the report.
I agree it would be better to align all those methods to return proper `error` value. If you are interested in doing it, I'll gladly review and merge a PR doing that.

[2019-12-10 11:44] forrling commented on #325
Just fixed this for some of my things.
since the go.mod file states `module github.com/coreos/go-systemd/v22` you will need to change your imports

from for example `import "github.com/coreos/go-systemd/journal"`
to `import "github.com/coreos/go-systemd/v22/journal"`

[2019-12-13 04:52] nanasi880 commented on #325
I have workaround.
Add my go.mod file this.
`replace github.com/coreos/go-systemd => github.com/coreos/go-systemd/v22 latest`

[2019-12-13 09:25] lucab commented on #321
For casual readers landing here, Go modules require semver-imports as explained in the official docs: https://github.com/golang/go/wiki/Modules#semantic-import-versioning.

This means that the proper way to consume this library is via versioned imports as shown in the original bug-report here and in examples: https://github.com/coreos/go-systemd/blob/2d78030078ef61b3cae27f42ad6d0e46db51b339/exampl

[2019-12-13 09:31] lucab commented on #325
This ticket is unfortunately drifting toward being a duplicate of https://github.com/coreos/go-systemd/issues/321.

I've already left all the feedback I can in my original reply here (i.e. check your Go version) and in https://github.com/coreos/go-systemd/issues/321#issuecomment-565367274 (i.e. use versioned imports).

I'm thus going to close and lock this ticket in order to prevent the [Go module

[2019-12-13 09:31] #325 closed

[2019-12-15 19:53] theory commented on #321
Yes, but note that I demonstrated the issue with no dependencies, using nothing more than

[code]
 I think the solution is to either:

1. Explicitly import the version you want: `import github.com/coreos/go-systemd/v22/journal`. This will get the proper line in `go.mod`:

        require github.com/coreos/go-systemd/v22 v22.0.0

2. Or use `replace` even if you have no other dependencies, so you re

[2019-12-16 10:37] lucab commented on #321
@theory to the best of my understanding, the `import "github.com/coreos/go-systemd/journal"` above is buggy and not valid under Go module importing rules, as stated by the official [documentation](https://github.com/golang/go/wiki/Modules#semantic-import-versioning) (emphasis mine):

Thus, the correct import line would be `import "github.com/coreos/go-systemd/vXYZ/journal"` (with proper `XYZ` vers

[2019-12-16 19:42] theory commented on #321
Oooh, okay, thanks for the clarification. I guess that makes sense, as it’s more consistently explicit.

[2019-12-24 08:40] Dragonbuf opened #328 "cannot find module providing package github.com/coreos/go-systemd/journal"
when `go get github.com/coreos/go-systemd` will report `cannot find module providing package github.com/coreos/go-systemd/journal `

[2019-12-24 09:22] lucab commented on #328
Current version of go-systemd uses Go modules, and thus follow its import rules. See https://github.com/coreos/go-systemd/issues/321 for a detailed discussion about the differences.

Duplicate of #321. Closing.

[2019-12-24 09:22] #328 closed

[2020-01-29 07:30] hamiltont commented on #43
FWIW, I found this issue while looking for a non-blocking way to call `ListUnits`. I'm improving `systemd_exporter` and about 10% of our total execution time (on each scrape) is waiting for the initial call to `ListUnits`.

I'm not sure about the internals of `go-systemd` - perhaps this is completely reasonable (e.g. perhaps dbus takes so long to respond that adding concurrency to the response par

[2020-03-05 19:52] dalu commented on #321
I don't understand what is causing the problem.
Everything should be fine.
The releases are tagged.

Why do we have to import `"github.com/coreos/go-systemd/v22/activation"` and not just `"github.com/coreos/go-systemd/activation"` and let go.mod define what version we need?

Why don't other packges have that problem?

[2020-03-06 09:31] lucab commented on #321
@dalu please note that your comment tone is overly aggressive, and your reply doesn't bring any new/relevant content to this ticket.
For anybody, in order to reduce the amount of noise here, I'll dismiss any further similar one in the future (as this is not a discussion forum).

Anyway, just to cover the technical side once more:
 * This repository has been tagged on a regular basis since years, w

[2020-03-06 11:22] dalu commented on #321
Aggressive?!?
I can change my tone to aggressive, then you'll know what's aggressive. FFS.
I find your accusations insulting!

go mod demands a certain way. You didn't use semantic versioning, now you're in deep shit because you followed some arbitrary versioning schema.

I will show you fucking aggressive you shithole. Go fuck yourself

[2020-03-06 15:37] alex1891 opened #331 "journald send does not work with snaps"
Hey,
I have a problem using the journald part of your library in a snap. When I get the following error:

`[13361.336015] audit: type=1400 audit(1583420412.816:395): apparmor="DENIED" operation="bind" profile="snap.mysnap.web" pid=6537 comm="wasp" family="unix" sock_type="dgram" protocol=0 requested_mask="bind" denied_mask="bind" addr=none`

In snaps you only have write permissions to the journald

[2020-03-06 16:07] lucab commented on #331
Thanks for the report.

I am not an AppArmor user, but reading this:

It looks like it is not allowing the creation of an auto-binding Unix datagram socket (see "Autobind feature" in `man 7 unix`).
I guess it is mostly a matter of adjusting the policy for that.

[2020-03-06 22:29] alex1891 commented on #331
Hi lucab,
adjusting the AppAmour policies is no option because this would be an security incident - I do not want that any application on the system can read the journald logs.

I think the problem is the way you open the socket - the old version of your lib works fine and my C++ applications that use sd_journal_send() works fine.

Greetings from Germany
Alex

[2020-03-16 07:04] probonopd commented on #302
There is https://github.com/godbus/dbus/releases/tag/v5.0.3 but how can I get go to actually use it with go modules?

This is what I tried so far and fails for me:

[code]

[2020-03-16 08:43] lucab commented on #302
@probonopd for gomod related pains, make sure to read the thread at https://github.com/coreos/go-systemd/issues/321. For godbus specifically, under gomod the current import path is `github.com/godbus/dbus/v5`.
I'm now locking this ticket to prevent attracting more unrelated feedback.

[2020-05-29 15:40] onitake opened #334 "Simplified interface to monitor job completion status"
It looks like there is currently no easy way to wait for start/stop unit job completion.
The job ID returned by `dbus.Conn.StartUnit` seems to be quite useless.

I see two possibilities by means of what's provided in go-systemd:

1. Register for notifications with `dbus.Conn.SubscribeUnitsCustom` and filter out the desired unit and target state.
2. Poll for unit status with `dbug.Conn.ListUnitsByN

[2020-06-25 09:51] onitake commented on #334
My bad, I completely overlooked the channel you can pass to StartUnit et al.
I still don't quite see what the job ID is for, but the channel should be sufficient for getting the job status.

[2020-06-25 09:51] #334 closed

[2020-07-02 16:56] onitake opened #337 "Add support for transient timers"
`systemd-run` supports creating units that run on a schedule instead of immediately.
This is implemented by creating a timer unit alongside the service that executes the command.

While creating persistent timers and services is certainly an option, they create manual cleanup overhead.
It would be very useful to support such a feature in go-systemd, similar to `systemd-run`'s `--timer-property=` o

[2020-07-15 17:23] Bhagyashreek8 commented on #321
this worked for me. thanks @jarsaccount

[2020-07-22 13:06] ThinkingXuan opened #338 "Solving failure: "github.com/coreos/go-systemd/util" imports "github.com/coreos/go-systemd/v22/internal/dlopen", which contains malformed code: no package exists at "github.com/coreos/go-systemd/v22/internal/dlopen""

[2020-07-23 07:39] lucab commented on #338
This is likely due to your source project using Go module and a wrong import path.
The correct import path for the `util` module would be `github.com/coreos/go-systemd/v22/util`.

[2020-07-25 13:28] eclipseo opened #339 "dlopen_test.go:54:15: undefined: strlen"
Go 1.15 beta 1 on Fedora Rawhide, during go testing:

[code]

[2020-07-27 07:39] lucab commented on #338
Closing as a duplicate of https://github.com/coreos/go-systemd/issues/321.

[2020-07-27 07:39] #338 closed

[2020-10-30 20:29] icholy opened #346 "Retag v1 to v21 to be compatible with expected module versions"
The module experience would be greatly improved if versions v1 to v21 were re-tagged with full semver versions.

So:
[code]
This would let the module proxy pick them up, and display them in https://pkg.go.dev/mod/github.com/coreos/go-systemd?tab=versions

[2020-10-31 14:17] lucab commented on #346
Thanks for the report. There are more details about this in https://github.com/coreos/go-systemd/issues/321, but the short answer is the current status is correct.

The longer answer is that this library has been developed (and tagged) for a long time before gomod came to existence. All the releases up to `v21` were using other dependency manifests and are not directly compatible with gomod. This

[2020-10-31 14:17] #346 closed

[2020-11-18 13:52] lucab commented on #339
This seems to be working fine both in my local environment (go1.15.5) and in CI: https://github.com/coreos/go-systemd/runs/1412766487?check_suite_focus=true.

[2020-11-27 10:27] Abirdcfly commented on #321
So. How to use the latest untag version

Just for memo. If someone want use latest untag version. You can change to

[code]
😂

[2021-01-16 19:19] flokli opened #351 "sdjournal: pkg-config isn't queried for include paths"
Moved over from https://github.com/coreos/go-systemd/pull/141#issuecomment-761609471

https://github.com/coreos/go-systemd/pull/141 moved libsystemd from being linked at build time to being `dlopen`-ed at runtime.

However, that PR entirely removed the `pkg-config` directive.

As `pkg-config` isn't only used for linker flags, but also for include paths, this breaks the build on systems that don't

[2021-02-23 07:24] liuliqiang opened #353 "Is it time for a new tag?"
Hi, it seems there exists so many new commits after last release at June 2020.

So, is it time for a new release now?

Thanks.

[2021-03-03 11:20] lucab commented on #353
Tagged: https://github.com/coreos/go-systemd/releases/tag/v22.2.0

[2021-03-03 11:20] #353 closed

[2021-03-05 21:59] learning813 opened #355 "could not determine kind of name for C.my_sd_id128_to_string"
Hello,

I'm trying to compile a go source code and facing the below error while compiling .

`# github.com/coreos/go-systemd/sdjournal
src/github.com/coreos/go-systemd/sdjournal/journal.go:1160:2: could not determine kind of name for C.my_sd_id128_to_string
cgo:
gcc errors for preamble:
src/github.com/coreos/go-systemd/sdjournal/journal.go:313:60: error: '_SD_ARRAY_STATIC' undeclared here (not in

[2021-03-11 15:30] AdamKorcz opened #357 "Continuous fuzzing through OSS-fuzz"
I have been working on setting up continuous fuzzing of go-systemd through OSS-fuzz here: https://github.com/google/oss-fuzz/pull/5231

For those unfamiliar: Fuzzing is a way of testing applications whereby pseudo-random data is passed to a program with the goal of finding bugs and vulnerabilities. It has been effective in finding bugs in many open source projects.
Google's OSS-fuzz project offers

[2021-03-12 14:44] lucab commented on #355
I think this is because your version of libsystemd is missing the definition of `_SD_ARRAY_STATIC`. But I think it could be safely omitted from here. As we don't have CI for such ancient versions, it would be helpful if you could test whether https://github.com/coreos/go-systemd/pull/358 builds in your system.

[2021-03-24 17:48] lsm5 opened #363 "id128StringMax in sdjournal/journal.go fails on 32-bit arches"
podman v3.1.0-rc2 vendors in go-systemd v22.3.0 and it fails to build on i686 and armv7hl arches for fedora.

Main scratch build job: https://koji.fedoraproject.org/koji/taskinfo?taskID=64520424

i686 failure build.log: https://kojipkgs.fedoraproject.org//work/tasks/636/64520636/build.log
armv7hl failure build.log: https://kojipkgs.fedoraproject.org//work/tasks/637/64520637/build.log

The full log

[2021-03-24 17:48] lsm5 commented on #363
@lucab PTAL ^

[2021-03-25 08:46] #363 closed

[2021-04-14 20:51] jeremy-gill opened #366 "journald unix sockets are leaked whenever Enabled() is called"
The journald logging code appears to leak a unix datagram socket once per call to `journal.Enabled()` on linux platforms.

An example bit of code follows that leads to an eventual error once the number of open file handles hits the operating system per-process maximum.

[code]

[2021-04-15 14:13] #366 closed

[2021-05-12 19:47] JanneKiiskila opened #371 "Branch rename from "master" to "main" breaks every Yocto build using go"
PR https://github.com/coreos/go-systemd/pull/370 breaks every single Yocto build in the whole wide world that uses `go`.
- Reason being that most Yocto recipes specify the SRC_URI with a hash and then as there is no branch specifier it goes and does an additional check if the hash is on the branch it assumes.
- It then goes on assuming the default branch to be `master`.
- Which in this case has st

[2021-05-12 21:35] bgilbert commented on #371
I've re-pushed the `master` branch, with a commit on top that removes all contents and refers developers back to `main`.

I have a couple requests for you, though:

1. Could you give us an estimate of how long before `master` can be removed without breaking Yocto users?

2. Could you please link to (or file) a bug report for this behavior in Bitbake?  Upstream projects are going to continue to ren

[2021-05-12 21:59] rpurdie commented on #371
Speaking as a Yocto Project developer who was pointed at this issue and who maintains bitbake, the advice is to add ;branch=main to the SRC_URI url in any recipe that is affected by a change like this. We have a long history of being very specific about the sources we build requiring specific git hashes or tarball checksums and specifying the branch name isn't any different.

We did already ensure

[2021-05-12 22:49] bgilbert commented on #371
@rpurdie Thanks for your reply; I really appreciate it.

That's a perfectly fine downstream policy if YP and its community are willing to bear the burden of it.  Please do note what happened here, though: a downstream recipe made an assumption about upstream's long-term intentions, and then upstream was urgently asked to provide a workaround when that assumption turned out to be incorrect.  The sa

[2021-05-13 08:40] JanneKiiskila commented on #371
The only sensible thing I can think of (which helps to branch renames) is that:
- bitbake is given a global option to stop checking for the branch name, if the branch name is not given OR
- bitbake is given more logic for the definition of default branch, ie. it can be either `master` or `main`.

I've understood the code fetching logic is already quite complicated, so simplest would be to remove t

[2021-05-13 08:41] JanneKiiskila commented on #371
You really can't remove it ever. There have been numerous releases that have already been created and all those old releases essentially get broken (unless those releases have also stored their full `DL_DIR`, which is not the case for all of those for sure).

[2021-06-01 19:09] bgilbert commented on #371
It turns out that BitBake allows users to override the [SRC_URI](https://www.yoctoproject.org/docs/latest/ref-manual/ref-manual.html#var-SRC_URI) for a BitBake recipe, for example via a [.bbappend file](https://www.yoctoproject.org/docs/1.6/dev-manual/dev-manual.html#using-bbappend-files).  The Yocto project architect has [advised us](https://lists.openembedded.org/g/openembedded-core/message/1517

[2021-06-15 18:51] bgilbert commented on #371
The `master` branch has now been removed again.  Thanks for bringing this issue to our attention.

[2021-06-15 18:51] #371 closed

[2021-06-22 06:56] guenhter commented on #321
For those who don't want to use the import directive: This is how it can be done:

[code]

[code]

[2021-07-02 19:02] jameshartig opened #374 "Missing ReenableUnitFiles function"
It would be useful to have a `ReenableUnitFiles` method that matches the D-BUS API so we can atomically disable/enable services to make changes to the `[Install]` section and get symlinks fixed.

[2021-07-08 18:26] owen-d commented on #351
@flokli Thanks for all the digging (and nixpkgs work detailing your intermediate workarounds that led me here). Much <3 from a NixOS noob.

[2021-07-14 08:18] tiechui1994 opened #375 "write unixgram xxxx: sendmsg: no such file or directory"
on ubuntu16.04, I run the code:

[code]

the output is:

[code]

[2021-07-14 08:48] lucab commented on #375
That likely means there is no `/run/systemd/journal/socket` in your system.

[2021-07-14 08:54] lucab commented on #375
Additionally, your import path is wrong as it is missing the gomod version, see https://pkg.go.dev/github.com/coreos/go-systemd/v22@v22.3.2/journal.

[2021-07-15 12:52] tiechui1994 commented on #375
thanks

[2021-07-15 12:52] #375 closed

[2021-08-18 19:01] WhyNotHugo opened #377 "Subscriptions with JobNew and JobRemoved"
I'm looking at how `SubscribeUnitsCustom` is implemented, and it seems to continuously poll for the status of units and compare what's changed.

I think that the `JobNew()` and `JobRemoved()` D-Bus signals can be used to listen to this; whenever there's a request to start or stop a service, that creates a new `Job` and these signals trigger (I haven't found many references to jobs in systemd's doc

[2021-09-23 08:12] shenxin opened #380 "failed to read message field"
Hi, we have a in-house written tools to read journal log and write it to a log file, on some of the machines, it failed to run with the following error:
failed to read message field: 74
I think I know that it's due to some log entry from journald that was not correctly parsed/recognized by sdjournal module, this error seems coming from journal.go in sdjournal module, can anyone please help to iden

[2021-09-23 08:38] lucab commented on #380
You are using an ancient version of this library.  https://github.com/coreos/go-systemd/pull/308 was merged more than three years to provided better error messages for those cases.

Anyway it looks like you are getting a `-EBADMSG` from `sd_journal_enumerate_data`, which according to the manpage may be due to a corrupted journal.

I don't think this is a library bug, so I'm closing this. If you fi

[2021-09-23 08:38] #380 closed

[2021-11-03 19:09] #331 closed

[2021-11-19 14:47] phemmer opened #381 "concurrency safety?"
I cant find any comment in the documents that state whether the various packages are concurrent safe.

For example, if I'm using the `dbus` package, and I fire off 2 simultaneous calls, will they step on each other? Do I need to ensure separate connections are used for each?

[2021-11-19 16:02] lucab commented on #381
Hi and welcome! It should be generally ok to use a single connection for multiple concurrent operations. That said, there may be bugs breaking some usecases; did you encounter any specific troubles?

[2021-11-30 02:21] phemmer commented on #381
no, just impacts application design whether I need to be opening multiple connections, or whether I can share one.

[2021-11-30 02:35] phemmer opened #382 "Missing non-"unit" properties (e.g. service)"
For service (and presumably other) unit types, some property updates are being missed when using `SetPropertiesSubscriber`. This is happening because they are being sent across D-Bus with interface `org.freedesktop.systemd1.Service`, and the code is discarding everything other than `org.freedesktop.systemd1.Unit`:

https://github.com/coreos/go-systemd/blob/f9f254610339c14ad7c50e9352848c7ff62fc81f/

[2021-11-30 03:44] phemmer commented on #382
Hrm, the scope of this might be greater than I thought. I just noticed that other calls, such as `GetUnitPropertiesContext()`, are also limited to just `org.freedesktop.systemd1.Unit`. So it wouldn't make sense to adjust only the `SetPropertiesSubscriber` code.

[2021-11-30 18:57] phemmer opened #383 "No way to wait for dbus.ReloadContext completion"
Currently `dbus.ReloadContext()` doesn't provide any way to wait for reload to complete. This is causing race conditions in my code as I need to wait for completion.

I think the best way to address the problem would be to have `ReloadContext()` accept a chan argument like other functions do (e.g. `StartUnitContext`) that can be used to block on. Though this would result in a breaking API change.

[2021-12-01 13:48] phemmer commented on #383
Closing. Have decided not to use go-systemd as it would require too many changes to work well.

[2021-12-01 13:48] #383 closed

[2021-12-01 13:48] phemmer commented on #382
Closing. Have decided not to use go-systemd as it would require too many changes to work well.

[2021-12-01 13:48] #382 closed

[2021-12-01 13:48] phemmer commented on #381
Closing. Have decided not to use go-systemd as it would require too many changes to work well.

[2021-12-01 13:48] #381 closed

[2021-12-01 14:21] lucab commented on #383
I'm not sure what you are seeing, but `dbus.ReloadContext()` itself should call to the manager `Reload()` method and return after that one does.
Other than that, any kind of asynchronicity you are seeing is likely coming from systemd manager itself.

[2021-12-01 14:27] phemmer commented on #383
https://github.com/coreos/go-systemd/blob/f9f254610339c14ad7c50e9352848c7ff62fc81f/dbus/methods.go#L775-L777

^ It fires off a job and does not wait for completion.

[2021-12-01 14:49] lucab commented on #383
The `Call()`/`CallWithContext()` are blocking remote calls, see https://pkg.go.dev/github.com/godbus/dbus/v5#Object.Call.
The `.Store()` bit in there is responsible for spewing back the result/error from the remote, after the `Call` completed synchronously.

Except if there are bugs lying somewhere in godbus, the code you quoted should return with success if and only after the remote DBus call com

[2021-12-04 13:37] oliverpool opened #384 "activation: allow multiple calls to `activation.Files(true)`"
Currently when calling `activation.Files(true)` the environment variables get unset
https://github.com/coreos/go-systemd/blob/da560eaf4d2e74df33e0138791f3c76f8ef60bf3/activation/files_unix.go#L38-L43

This means that calling `activation.Files(true)` will return an empty listener slice.

I think it would be nice to allow for multiple calls to succeed.

*Use Case*

In my case I have multiple service

[2021-12-06 10:33] lucab commented on #384
Hi and welcome!
I'm having some troubles understanding what you are suggesting. The problem you mention ("not unsetting env") should be covered by `activation.Files(false)`. However as the documentation says you almost never want to do that, as managing the lifecycles of FD that way is very prone to bug.

If this is the whole scenario, then you should consider re-arranging the logic so that there

[2021-12-06 12:58] oliverpool commented on #384
You are right, trying to allow `activation.Files` to be called multiple time seems quite hard and not worth the trouble.

I will refactor my logic, to call `activation.Files` only once!

[2021-12-06 12:58] #384 closed

[2021-12-13 10:35] lucab commented on #377
I'm not very familiar with that portion of the systemd DBus API, but from what I'm seeing I think I agree it could be feasible that way.
One possible concern though is that this may have the opposite outcome of what you expect: on a system with a lot of dynamic jobs scheduling, this may increase CPU and I/O usage due to processing single wakeup events without batching.

The existing API is quite n

[2021-12-13 17:34] WhyNotHugo commented on #377
Right, that's true. The signals are optimised for receiving the event as soon as possible, at the cost of more CPU usage if there's lots of events. This is not _usually_ the case though, generally system's don't have a large amount of jobs being scheduled.

I'm curious if anyone actually relies on the current batching/polling mechanics and would be disrupted if it were no longer an option -- I can

[2022-01-06 13:34] invidian opened #387 "Provide error handling for Reboot() call"
Right now user has no way of knowing if calling `Reboot()` succeeds or not, as no error is returned from a call. E.g. if user calling it has no permissions to do so, the call will silently fail.

This could be improved, e.g. together with accepting the context for operation in new function.

[2022-01-06 13:50] lucab commented on #387
Good idea, a `RebootWithContext` would fit nicely. Would you like to submit a PR with that?

[2022-01-06 14:00] invidian commented on #387
Can't promise I find time to do so, but will try :)

[2022-01-06 14:01] invidian commented on #387
Ah, just found out there is more general issue for this: #326, not sure if it make sense to address each method individually or should we handle all of them at once.

[2022-01-10 08:10] invidian commented on #43
:+1: For closing this issue. See https://dave.cheney.net/practical-go/presentations/qcon-china.html#_leave_concurrency_to_the_caller for reasoning.

[2022-01-10 08:25] invidian opened #388 "Use (*Conn) AddMatchSignal instead of BusObject().Call("org.freedesktop.DBus.AddMatch""
Now connection has better API for adding match signals, so we should make use of it.

[2022-01-10 09:01] invidian opened #389 "Rename login1.Conn to login1.Client or similar"
I think `login1.Conn` name is not very accurate, as it leaks the abstraction on how login1 methods are called underneath (via some kind of connection).

Also, right now login1 package is responsible for connecting and authenticating to D-Bus, which seems like both possible waste of resources, as multiple clients can't share the connection and it also affects testability of code, as no mock D-Bus c

[2022-01-10 10:06] invidian commented on #387
Created #390 to address this.

[2022-01-10 10:37] invidian opened #391 "Bump required Go version to 1.13"
1.12 is now EOL for almost 2 years: https://endoflife.date/go.

As a reference, supported Ubuntu versions use either 1.10 or 1.13:
https://packages.ubuntu.com/search?keywords=golang-go

So I think this bump is reasonable.

This is done to get access to stdlib methods like errors.Is and
formatting statement %w, which is de facto standard for handling errors
nowadays.

[2022-01-10 11:23] invidian commented on #391
Is there some roadmap for v23 available? What should go in and what not? Or is there some dev branch for v23 available to submit PRs against?

[2022-01-12 20:33] vaibhav-bhadade opened #392 "journal_test.go:218: Error reading to journal: EOF"
on master branch  TestJournalGetEntry  test fail with follwing error .
journal_test.go:218: Error reading to journal: EOF . Can you guys help me on this .

[2022-01-28 21:06] corhere opened #394 "sdjournal: JournalReader.Follow is not thread-safe"
The "Thread safety" section of [the `sd-journal` manpage](https://www.freedesktop.org/software/systemd/man/sd-journal.html) says:

That section was added to the documentation [in systemd v232](https://github.com/systemd/systemd/commit/a8d46a1663c80e96508ed9bbd7c3acd55c5b4252) [(wayback machine)](https://web.archive.org/web/20170301061244/https://www.freedesktop.org/software/systemd/man/sd-journal.

[2022-02-17 11:37] bisakhmondal opened #398 "bug(dbus): New[User|System]ConnectionContext doesn't respect incoming context.Context"
Hi Community,
I a recent event, I just discovered that the two functions  to establish dbus connection doesn't handle context deadline event
[code]
this throws:
[code]
Same for
[code]
And when integrated with large software, it makes debugging a lot harder. I think here it's best to use standard `context.DeadlineExceeded` error when such a scenario occurs. Thank you!

[2022-02-17 14:11] lucab commented on #398
Thanks for the report.
It would be good to pinpoint where that error is being generated.
I think this may be coming from the underlying go-dbus, possibly by some methods not properly context-aware.
My raw guess is that is failing at some point during the `Hello` or `Auth` steps for dbus.

[2022-02-18 07:13] bisakhmondal commented on #398
Hi @lucab, thanks for the reply. I just took a quick look with a debugger
The NewSystemConnectionContext calls
[code]
![image](https://user-images.githubusercontent.com/41498427/154631052-1b0a0dba-4232-451f-83e4-87723a040ef3.png)

### **Development Error 1** - `go-dbus`
Without checking context expiry the package just returned a new connection (image above) without any error.

### **Development Er

[2022-03-01 18:13] bisakhmondal commented on #398
ping @lucab

[2022-03-02 09:19] lucab commented on #398
It sounds like you have pinpointed some faulty logic in `go-dbus`, so I'd suggest taking this discussion there and try to enhance that code. I'm not really keen on trying to add dbus workarounds here as they always increase maintenance complexity, no matter how simple they seem.

That said, I also fear that you may be chasing a ghost.
Context expiration happens asynchronously, so there is always g

[2022-03-21 15:12] BeforeOne7 opened #399 "Why is this error "dbus: connection closed by user""
I want to create a global connection.
![image](https://user-images.githubusercontent.com/48234815/159290492-5b9aca8a-d6fd-4391-b6d9-08c9e9939be7.png)
so...i tried to use it  but there was an error "dbus: connection closed by user"
simple code
err = gosys.NewSystemdConnection()
conn := gosys.GetSystemdConnection()
resChan := make(chan string)
unitID, err := conn.ReloadOrRestartUnitContext(ctx, targ

[2022-03-23 06:31] #399 closed

[2022-05-20 06:14] shendsaliaga opened #401 "Invalid ExecStart command created using PropExecStart"

[2022-05-20 07:35] #401 closed

[2022-06-17 17:02] cedws opened #402 "Module for reading service credentials"
I would like a module that can read [credentials](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Credentials) when the current program is running as a systemd service.

This should be fairly simple and a small amount of code. I'm willing to send a PR at some point.

[2022-06-20 12:10] lucab commented on #402
Thanks, that would be much appreciated!
If you want a comparison with native bindings for another language (Rust), there is this one still in fly: https://github.com/lucab/libsystemd-rs/pull/98

[2022-06-21 00:43] ginglis13 opened #403 "Writing `UNIT` to journal"
I'm attempting to write a message to the journal using [`journal.Send()`](https://github.com/coreos/go-systemd/blob/f5f8d59a116b1ca501dd87cdb28f6ce89ccf58dc/journal/journal_unix.go#L79). I'd like to write this message for a specific service, so I've added vars as

[code]

I am seeing the log appear in the journal via `journalctl -f`, but it's appearing as `main[12345] <message>` when I was expecti

[2022-07-05 07:35] lucab commented on #403
I think this really depends on how you are running your example, so I can't exactly say.
I suggest running something like `sudo journalctl -o json` and then inspect the actual metadata of your message this way.
This is unlikely to be a library bug, so unless you find further evidence in that direction I'm inclined to close this for now.

[2022-07-05 07:35] #403 closed

[2022-08-08 20:20] jsonn opened #405 "Socket activation logic lacks error checking"
In https://github.com/coreos/go-systemd/blob/f5f8d59a116b1ca501dd87cdb28f6ce89ccf58dc/activation/files_unix.go#L66 the return value of `os.NewFile` should be checked before `files` is changed. It can fail if the environment variables don't match the file descriptor table, e.g. `LISTEN_FDS` is much larger than the number of open files. The current logic would force consumers of the interface to che

[2022-11-07 03:41] ShalmonTitre1 opened #411 "Different test failure results when build and tested on 1)ppc64le arch with rhel image and 2)ppc64le arch without image"
Output for PPC64le arch:-

[root@117d984401e3 go-systemd]# go test ./...
# github.com/coreos/go-systemd/v22/internal/dlopen [github.com/coreos/go-systemd/v22/internal/dlopen.test]
internal/dlopen/dlopen_test.go:54:15: undefined: strlen
# github.com/coreos/go-systemd/v22/sdjournal
sdjournal/journal.go:27:11: fatal error: systemd/sd-journal.h: No such file or directory
// #include <systemd/sd-journa

[2022-11-07 08:14] lucab commented on #339
It works in CI, closing ticket due to lack of further inputs.

[2022-11-07 09:26] lucab commented on #339
On a second check, the test job was missing a key part of its logic and the CI was not properly set up to run it.
https://github.com/coreos/go-systemd/pull/412 is up to fix this.

[2022-11-07 09:34] lucab commented on #411
Thanks for the report.
The `dlopen` issue is test mixup, https://github.com/coreos/go-systemd/pull/412 is up to fix it.

The rest of the issues are due to missing development headers (`error: systemd/sd-journal.h: No such file or directory`) and not running the test on a systemd-booted machine (`System has not been booted with systemd as init system (PID 1)`).

Please note that this isn't a suppor

[2022-11-07 09:34] #411 closed

[2022-11-07 10:21] #339 closed

[2022-11-09 20:31] klaernie opened #413 "sdjournal: is reading from journald namespaces supported?"
I am using sdjournal indirectly with the filebeat journald input, and was wondering if reading from a non-default journald namespace is supported directly. I know that I can point filebeat to the namespace's systemd.journal file residing in `/var/lib/journal/machine-id.namespace`, but this requires knowledge of the machine-id for each individual server.
I solved the problem for our system by symli

[2022-11-10 08:18] lucab commented on #413
Good question! There are multiple levels to cover on this:
 * The `sdjournal` package is built on top of C primitives provided by `libsystemd.so`, so it could in theory support namespaced journals without much troubles by wrapping the relevant API.
 * It looks like we are not currently binding the libsystemd function `sd_journal_open_namespace()` to a Go wrapper. This is likely not on purpose, but

[2022-11-10 08:32] klaernie commented on #413
Thanks for letting me know!

While I'd love to just dig in and implement this, I sadly have no golang skills, but I don't expect you or any contributor to jump at that anyway.

Regarding the behaviour with systemd<245 I'd probably just expect a "does not exist" error, after all you only start reading logs from a namespace if you already write to one, which wouldn't work there as well (I even had t